/* * { border: 1px solid red; }  */

html { scroll-behavior: smooth; }
body { margin: 0px; color: #fff !important; background-color: #000 !important; animation: fadein 2s;}
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif;}

/* Set the width of the sidebar to 120px */
nav { display:block; }

p { margin-top:15px; margin-bottom:15px;}

/* .anchor {padding-top: 70px; margin-top: -70px;} anchor link offset positioning */
.sideBar {
    display: flex;
    flex-direction: column;
    width: 120px;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    transition: width 0.7s;
    animation: fadein 0.7s;
    background: #222;
    height: 100%;
    text-align: center !important;
    font-size: 12px !important;
    position: fixed !important;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: hidden;
}

.sideBar .sideBarItem
{
    box-sizing: border-box;
    width: 100%;
    display: block;
    animation: fadein 0.7s;
    padding: 8px;
    text-align: center;
    background-color: black;
    text-decoration: none;
    z-index: 1;
}
.sideBar .sideBarItem:hover {background-color: rgb(59, 59, 59);}

.logo 
{
    margin: 10px; 
    width: 70px; 
    animation: fadein 1s;
    position:absolute; 
    top: 0px;
    z-index: 0;
}

.topBar
{
    display:flex;
    justify-content: space-evenly;
    position:fixed;
    z-index: 1;
    width:100%;
    max-height:0px;
    transition: max-height .7s;
    animation: fadeout2 .7s;
    box-sizing: inherit;
    opacity: 0.8;
    background-color: black;
    overflow:hidden;
    text-align: center !important;
    font-size:12px;
}
.topBar:hover{opacity:100%;}

.topBar .topBarItem
{
    display:flex;
    padding: 8px 8px;
    float: left;
    width: auto;
    transition: max-height .7s;
    animation: fadeout2 .7s;
    max-height:0px;
    border: none;
    outline: 0;
    white-space: normal;
    overflow: hidden;
    text-decoration: none;
    color: #ffffff;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
}
.topBar .topBarItem:hover{background-color: rgb(188, 188, 188); color:#282828; font-weight:bold;}

.mainHeader
{
    padding: 0.01em 16px;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    text-align: center !important;
    color: #fff !important;
    background-color: #000 !important;
}
.mainHeader .intro { font-size: 64px !important; }
.mainHeader .avatar { width:20%; min-width:200px; max-width: 350px; margin:20px; border-radius:50% }

.hoverLink
{
    font-size:17px;
    text-decoration: none;
    color: #868686; /* Default link color */
    transition: color 0.3s ease-in-out;
}
.hoverLink:hover { font-weight: bold; color: #ffffff; }

footer 
{
    max-width: 980px;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    margin-left: auto;
    margin-right: auto;
    color: #757575 !important;
    font-size: 24px !important;
}
footer a:hover{ opacity:0.6 }

.contentPane
{
    margin-left: 135px; /* 120px (navPane margin) + 15px (contentPane margin) */
    margin-right: 15px;
    transition: margin-left .7s; 
    
}

.contentBox
{
    max-width: 1300px;
    margin-left:auto; 
    margin-right:auto;
    color:rgb(142, 142, 142)
}
.contentBox h2, .contentBox h3 {padding-top:35px;}

.projectBox
{
    box-sizing:border-box; 
    width: 625px; 
    min-width: 250px;
    height: 700px; 
    flex-wrap: wrap; 
    text-align: center;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #959595;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.projectBox .contentWrapper { display: flex; flex-wrap: wrap; flex-direction: column; width: 100%; height: 100% }
.projectBox .projectTitle { font-size: 22px; color:rgb(255, 255, 255); }
.projectBox img { width:100%; border: #fff; border-style: solid; border-width: 1px;}
.projectBox hr { margin-top:10px; margin-bottom:10px; height:2px; border:none; color: rgb(142, 142, 142); background-color: rgb(142, 142, 142) }
.projectBox .projectDescription { margin-top:0px;}
.projectBox .projectDescription p { font-size: 18px; text-align:left; color:#a8a8a8fc; margin-top:10px; }
.projectBox .projectNote { margin-top:auto; width:100%; text-align: left; }
.projectBox .projectNote .projectLanguage { font-weight: bold; color:#00ffff; font-size: 18px; }

.educationBox
{
    box-sizing: border-box;
    width: 90%;
    min-width: 250px;
    height: auto;
    margin: 20px;
    border-color: #ffffff;
    border-radius: 4px;
    border-style: solid; 
    border-width: 2px;
    box-sizing: border-box;
    background-color: #5f5f5f;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}
.educationBox .contentWrapper { padding: 20px;}
.educationBox .contentWrapper2 { display:flex; padding: 15px; justify-content: space-evenly; overflow-x: scroll; scrollbar-gutter: stable;}
.educationBox .listItem { display: inline-flex; vertical-align: top;}
.educationBox .descriptionBox { width: 100%; margin-right: 10px; }
.educationBox .title { font-size:20px; font-weight: bold; color: white }
.educationBox .simLogo { min-width: 10px; max-width:30px; vertical-align: middle; }
.educationBox hr { margin-top:4px; margin-bottom:4px }
.educationBox img { min-width: 75px; max-width: 110px; border-radius: 5px;}
.educationBox a { margin-right:10px; }
.educationBox table tr { color: rgb(226, 226, 226); font-size: 16px;}
.educationBox table td:nth-child(1) { text-align: center; padding-right: 10px;}
.educationBox table td:nth-child(2) { vertical-align: bottom; }
.educationBox table i { vertical-align:middle; font-size: 130%; }

.educationBox .certificationCard 
{ 
    display: block;
    width: 225px;
    min-width: 225px;
    height: 250px;
    box-sizing:border-box; 
    border: 2px solid #fff; 
    border-radius:4px; 
    text-align:center; 
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    font-weight:bold; 
    padding:5px; 
    margin:5px 5px; 
}
.educationBox .certificationCard .wrapper { display: flex; flex-direction: column; height: 100%;}
.educationBox .certificationCard .imgWrapper { height:150px;}
.educationBox .certificationCard img { min-width: 75px; max-width: 130px; border-radius: 5px;}
.educationBox .certificationCard .certificationLink { margin-top: auto; font-size: 12px; text-decoration: underline; font-weight:normal}
.educationBox .certificationCard .certificationLink a { margin-right: 0px; }

.skillBox
{
    width: 95%;
    min-width: 250px;
    height: auto;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-color: #ffffff;
    border-radius: 4px;
    border-style: solid; 
    border-width: 2px;
    box-sizing: border-box;
    background-color: #0a0517;
    margin-left:auto;
    margin-right:auto;
}
.skillBox .title { font-size:18px; font-weight: bold; color: rgb(255, 255, 255); border-bottom: 1px solid #5f5f5f;}
.skillBox img { max-width:72px; margin: 10px 2.5px 10px 2.5px; }

@media screen and (max-width: 650px), screen and (max-height: 353px)  /*When screen gets smaller than 650px*/
{
    .sideBar{transition: width .7s; width: 0px; animation: fadeout 0.7s;} /*remove side bar*/
    .sideBar .sideBarItem{animation: fadeout 0.7s;}
    .topBar{transition: max-height .7s; max-height:70px; animation: fadein2 0.7s} /*display top bar*/
    .topBar .topBarItem{transition: max-height .7s; max-height:70px; animation: fadein2 0.7s;}
    .contentPane {transition: margin-left .7s; margin-left: 15px;} /*shift content pane to the left*/
}
@media screen and (max-height: 515px) /*When screen gets smaller than 515px*/
{
    .logo {animation: fadeout 1s; animation-fill-mode: forwards;}
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadein2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}
@keyframes fadeout2 {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0;
    }
}

.blinker1 {animation: blinker 1s infinite step-end;}
.blinker2 {animation: blinker 1.5s infinite step-end;}
.blinker3 {animation: blinker2 1.2s infinite step-end;}
.blinker4 {animation: blinker2 0.7s infinite step-end;}
@keyframes blinker {
    80% {
        opacity: 0;
    } /* 80% appear, 20% disappear */
}
@keyframes blinker2 {
    50% {
        opacity: 0;
    } /* 80% appear, 20% disappear */
}

::-webkit-scrollbar {background-color:transparent; width:7px; height:7px; }

::-webkit-scrollbar-track {background-color:transparent; border-radius: 4px;}
::-webkit-scrollbar-track:hover {background-color:transparent}

::-webkit-scrollbar-thumb {background-color:#a4a4a4; border-radius:16px; border:2px solid transparent}

::-webkit-scrollbar-thumb:hover {background-color:#a0a0a5fc; border:2px solid #f4f4f4}

::-webkit-scrollbar-button {display:none}

::-webkit-scrollbar-corner {background-color: transparent;}